[Unit] 
Description=Devops Index.js systemd service. 
[Service] 
Type=simple ExecStart=/usr/bin/node /tmp/index.js 
[Install] 
WantedBy=multi-user.target 
