[Unit] 
Description=Devops Index.js systemd service.
After=network.target
StartLimitIntervalSec=0
[Service] 
Type=simple
Restart=always
RestartSec=1
User=centos
ExecStart=/usr/bin/bash /tmp/index.js  
[Install] 
WantedBy=multi-user.target 
